@use "search";
@use "theme";

body {
    -ms-overflow-style: none;
    margin-right: 10px;
}

.content {
    .in-block {
        display: block;
    }

    table.infobox > caption {
        display: inline;
    }
}
